$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
	background-color: #efc373;
	// background:url("https://4.bp.blogspot.com/-k8IX2Mkf0Jo/U4ze2gNn7CI/AAAAAAAA7xg/iKxa6bYITDs/s0/HOT+Balloon+Trip_Ultra+HD.jpg") no-repeat center center fixed;
	background-size: cover;
}

/*This chunk is the nav bar at the top, with change password and logout buttons*/

nav {
	display: none;
}

.navbar-default {
	background-color: rgba(79,144,193, 0.9);
}

// Logout link on nav-bar
#sign-out {
  float: right;
  margin: 10px;
}

// ChangePass link on nav-bar
.change-pass {
  float: right;
  margin: 10px;
}

/*This is the first screen. Forms and submit button*/
.sign-in-screen {
	display: block;
	position: relative;
	transform: translate(0%, 100%);
	margin: 10px auto;
	background-color: rgba(79,144,193, 0.9);
	width: 80%;
	border: 10px;
	padding: 15px;
	border: 1px white solid;
}

.sign-up-screen {
  display: none;
  position: relative;
  transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

.change-pass-screen {
  display: none;
  position: relative;
  transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

.wish-buttons {
  display: none;
  text-align: center;
}

.add-wish-screen {
  display: none;
  position: relative;
  // transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

.read-one-wish {
  display: none;
  position: relative;
  // transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

.change-wish-screen {
  display: none;
  position: relative;
  // transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

.delete-wish-screen {
  display: none;
  position: relative;
  // transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
}

#auth-message {
  display: none;
  position: relative;
  // transform: translate(0%, 100%);
  margin: 10px auto;
  background-color: rgba(79,144,193, 0.9);
  width: 80%;
  border: 10px;
  padding: 15px;
  border: 1px white solid;
  text-align: center;
}
